wheel~=0.34.2
-e git+https://github.com/rantav/flask-restful-swagger#egg=flask_restful_swagger
-e git+http://github.com/ISA-tools/isa-api@fd140f2434f45e00fc95eff7cfca7cd3c743d908#egg=isatools
#isatools==0.9.5
Flask~=1.1.2
requests~=2.23.0
